
body {
    background-color: rgb(50, 48, 48);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .rectangle5-container {
    width: 65%;
    height: 560px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    border-radius: 50px; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); 
    position: relative;
  }
  
  
  .rectangle-container {
    width: 1500px;
    height: 100%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    position: relative; /* Make it a reference for absolute positioning */
    padding: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
   
  }
  
  
  
  .rectangle1-container {
    width: 80%; /* Adjust width as needed */
    height: 25%; /* Adjust height as needed */
    background-color: #d7e0de90;
    position: absolute;
    top: 25px;
    left: 50%; /* Place it in the center horizontally */
    transform: translateX(-50%); /* Adjust to horizontally center it */
    padding-bottom: 0%;
  margin-bottom: 0%;
  }
  
  .rectangle2-container {
    
    width: 90%; /* Adjust width as needed */
    height: 7%; /* Adjust height as needed */
    background-color: #d7e0de90;
    position: absolute;
  border-radius: 50px;
    left: 50%; /* Place it in the center horizontally */
    transform: translateX(-50%); /* Adjust to horizontally center it */
    align-items: center; 
    align-content: center; 
    text-align: left; 
    padding: 30px;
  }
  
  .rectangle3-container {
    width: 300px; /* Adjust width as needed */
    height: 70%; /* Adjust height as needed */
    background-color: #ffffff;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.258);
    border-radius: 50px;
    display: flex;
    padding-left: 20px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    top: 50%;
    left: 50%;
   
  }
  
  

  
  .col {
    background-color: aqua; /* Set the background color of the column */
    width: 50%; /* Set the width of the column to 50% */
    height: 100%; /* Make the column height match its parent container */
  }
  
  
  .btng-custom {
    background-color: transparent;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    color: white;
    border-radius: 50px; 
    padding: 10px 20px; 
    width: 5cm;
  }
  
  .btng-custom:hover {
    background-color: white;
    color: #59C0AC; /* Change text color on hover */
  }
  
  .btnw-custom {
    background-color: transparent;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #59C0AC;
    color: #59C0AC;
    border-radius: 50px; 
    padding: 10px 20px; 
    width: 5cm;
     
  
  }
  
  .btnw-custom:hover {
    background-color: #59C0AC;
    color:white; /* Change text color on hover */
  }
  .btnedit-custom {
    background-color: #59C0AC;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #59C0AC;
    color: #ffffff;
    border-radius: 50px; 
    padding: 10px 20px; 
    width: 5cm;
     
  
  }
  
  .btnedit-custom:hover {
    background-color: #ffffff;
    color:#59C0AC; /* Change text color on hover */
  }

  .cornerY-image {
    position: absolute;
    top: 82%;
    right: 82%;
    transform: translate(50%, -50%);
    z-index: -1; /* Ensure the image is behind the rectangle */
  }
  
  .cornerY-image img {
    max-width: 500; /* Adjust as needed */
    max-height: 500px; /* Adjust as needed */
  }
  
  .cornerP-image {
    position: absolute;
    top: 15%;
    left: 60%;
    transform: translate(50%, -50%);
    z-index: -1; /* Ensure the image is behind the rectangle */
  }
  
  .cornerP-image img {
    max-width: 500; /* Adjust as needed */
    max-height: 500px; /* Adjust as needed */
  }
  
  .image {
    position: relative;
    top: -40%;
    left: -5px;
    transform: translate(50%, -50%);
    z-index: 1; /* Ensure the image is behind the rectangle */
  }
  .image img {
    position: absolute;
    max-width: 800; /* Adjust as needed */
    max-height: 800px; /* Adjust as needed */
  }
  
  .cornerprof-image {
    position: absolute;
    top: 87%;
    right: 95%;
    transform: translate(50%, -50%);
    z-index: -1; /* Ensure the image is behind the rectangle */
  }
  
  
  .cornerprof-image img {
    max-width: 500; /* Adjust as needed */
    max-height: 500px; /* Adjust as needed */
  }
  
  .cornerProff-image {
    position: absolute;
    top: 10%;
    left: 27%;
    transform: translate(50%, -50%);
    z-index: -1; /* Ensure the image is behind the rectangle */
  }
  
  .cornerProff-image img {
    max-width: 500; /* Adjust as needed */
    max-height: 500px; /* Adjust as needed */
  }
  
  .table-container {
    width: 80%;
    margin: auto;
  }
  
  .table-transparent {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-transparent th,
  .table-transparent td {
    border: 1px solid transparent;
    padding: 8px;
    text-align: left;
  }
  
  
  
  .table-transparent td {
    vertical-align: top;
  }
  
  .table-transparent td ul {
    padding-left: 0;
  }
  
  .table-transparent td ul li {
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: #D15544;
  }

  #fileInput {
    display: none; /* Hide the default file input */
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #59C0AC; /* Green background color */
    color: white; /* White text color */
    border: none;
    border-radius: 20px; /* Rounded corners */
}